
html, body {
    background-color: rgba(13, 5, 26, 0.751);
    margin: 0;
    max-height: 100%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    height: max-content;
    width: 450px;
    border-radius: 15px;
    background-color: rgba(21, 28, 48, 0.75);
    border: 0.5px solid rgb(230, 194, 255, 0.5);
    border-bottom: 0.5px solid rgb(230, 194, 255, 0);
}

.board-wrap{
    height: 450px;
}
.board{
    border-spacing: 5px;
    margin-bottom: 500px;
}

.header{
    display: grid;
    justify-content: center;
    align-items: center;

}
.headline, .hints-txt{
      text-align: center;
      font-family: 'Jolly Lodger', cursive;
      font-size: 4em;
      color: #2a1358b7;
      text-shadow: -0.5px 0 rgb(245, 245, 245, 0.5), 0 0.5px rgb(245, 245, 245, 0.5), 0.5px 0 rgb(245, 245, 245, 0.5), 0 -0.5px rgb(245, 245, 245, 0.5);
      user-select: none;

  }
  .headline{
      width: 420px;
      margin-left: 50px;
  }
  .hints-txt{
      position: absolute;
      font-size: 2em;
      bottom: 20px;
      left: 20px;
      text-decoration: underline 1px;
      color: #022d5bb7;
    }

.cell {
    padding: 5px;
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-family: 'Jolly Lodger', cursive;
    box-shadow: inset 0 0 3px rgb(41, 39, 39); 
    transition: box-shadow 0.3s; 
}

.hide{
    text-indent: 100%;
    overflow: hidden;
    color: transparent;
}
.hide:hover{
    box-shadow: inset 0 0 5px rgb(28, 26, 26)
}
tr .hide::selection{
    color: transparent;
}
.revealed {
      background-color: #546b81;
}
tr .revealed::selection{
      color: white
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    width: 500px;
    height: 70px;
  }
  
.difficulty-btn{
    font-family: 'Lobster', cursive;
      padding: 10px;
      padding-left: 25px;
      padding-right: 25px;
      background: linear-gradient(to right, rgb(116, 17, 66, 0.8), rgba(111, 62, 82, 0.8));
      color: rgba(245, 245, 245, 0.729);
      border-radius: 5px;
      cursor: pointer;
      margin: 5px;
      transition: box-shadow 0.4s;
      user-select: none;
      border: 1px solid rgb(230, 194, 255);

}

.leaderboard-btn,.restart-btn{
    padding: 15px;
    width: 150px;
    margin-left: 100px;
    border-radius: 5px;
    font-family: 'Lobster', cursive;
    font-size: 0.9em;
    background: linear-gradient(to right, rgb(155, 97, 126, 0.8), rgb(192, 82, 128, 0.8));
    color: rgb(14, 14, 14);
    transition: box-shadow 0.4s;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgb(230, 194, 255);
    color: #03101eb7;

}
.restart-btn{
    position: relative;
    left: 170px;
    bottom: 50px;
}

.leaderboard-btn:hover,
 .difficulty-btn:hover,
 .restart-btn:hover,
 .undo-btn:hover,
 .safeclick-btn:hover,
 .sevenboom-btn:hover,
 .manualMode-btn:hover{
    box-shadow: 0 0 0 0.1em rgb(245, 245, 245, 0.8);
}
.game-tools{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.lives, .flag-counter, .stopper-text{
    color: whitesmoke;
    font-family: 'Jolly Lodger', cursive;
    font-size: 20px;
    padding: 20px;
    user-select: none;
}
.mine{
    display: none;
    width: 20px;
    height: 20px;
}

.confirm-selection:hover {
    text-shadow: 0 0 10px rgb(255, 63, 63);
}
.heart{
    width: 25px;
    height: 25px;
}

.stopper{
    font-family: 'Lobster', cursive;
    color: whitesmoke;
}
.leaderboard-modal{
    display: none;
    background-color: rgba(7, 53, 81, 0.9);
    border-radius: 8px;
    position: absolute;
    top: 50px;
    height: 90%;
    width: auto;
    border: 1.5px solid rgb(230, 194, 255);
}
.leaderboard-table{
    border-spacing: 15px;
    color: whitesmoke;
    font-family: 'Lobster', cursive;
}

.closeModal{
    font-family: 'Lobster', cursive;
      padding: 3px;
      padding-left: 25px;
      padding-right: 25px;
      background: linear-gradient(to right, rgb(116, 17, 66), rgb(102, 44, 68));
      color: whitesmoke;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      bottom: 0;
}
.pumpkin-container{
    display: inline;
    user-select: none;
}

.pumpkin-img{
    width: 30px;
    height: 30px;
    opacity: 0.8;
    cursor: pointer;
}
.hints{
    position: absolute;
    left: 65px;
    bottom: 150px;
    user-select: none;
}
.hint-img{
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.game-bonuses{
    height: fit-content;
    display: inline;
    margin: 20px;
    margin-top: 0;
    user-select: none;

}
.safeclick-btn,.undo-btn,.sevenboom-btn,.manualMode-btn{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(79, 52, 80), rgb(41, 18, 18));
    color: rgb(255, 216, 216);
    font-family: 'Lobster', cursive;
    cursor: pointer;
    transition: box-shadow 0.5s;
    border: 1px solid rgb(230, 194, 255);
    user-select: none;

}

.leader-modal-headline{
    font-family: 'Lobster', cursive;
    color: rgb(255, 220, 220);
    text-decoration: underline;
}
.gameover-txt{
    font-family: 'Jolly Lodger';
    font-size: 1.5em;
    color: #ceb8fcb7;
    user-select: none;
    text-align: center;
}

.diff-txt{
    text-align: center;
    font-family: 'Jolly Lodger', cursive;
    font-size: 2em;
    color: #022d5bb7;
    text-shadow: -0.5px 0 rgb(245, 245, 245, 0.5), 0 0.5px rgb(245, 245, 245, 0.5), 0.5px 0 rgb(245, 245, 245, 0.5), 0 -0.5px rgb(245, 245, 245, 0.5);
    user-select: none;
    text-decoration: underline 1px;
    width: 120px;
    margin-left: 180px;
    
}

.safeclick-txt{
    color: white;
    font-size: 0.5em;
    display: block;
    margin-left: 100px;
}
.footer {
    position:relative;
    bottom: 0;
    width:100%;
    height:60px; 
    background-color:rgba(83, 176, 219, 0.626);
    border-radius: 5px;
    font-family: 'VT323', monospace;
    font-size: 1em;
    text-align: center;
    color: rgb(88, 0, 0);
    border-top: 0.5px solid rgb(230, 194, 255, 0.5);
 }
 .footer p::selection{
     color: rgb(88, 0, 0);
     background-color: white;
 }

.lamp-img-left{
    position: absolute;
    width: 85px;
    height: 85px;
    top: 40px;
    left: 320px;
    opacity: 0.7;
    user-select: none;
}
.lamp-img-right{
    display: inline;
    margin-left: 380px;
    position: absolute;
    top: 42px;
    width: 85px;
    height: 85px;
    opacity: 0.7;
    user-select: none;
}
